#logo {
  display: flex;
  background-color: var(--secondary);
  padding: 1em 2em;
  font-size: 14px;
  color: var(--button-text);
  justify-content: center;
}

@media only screen and (max-width: 720px) {
  #logo {
    width: 100%;
  }
}
